<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T33_64UMC_39_5_22_14</key>
	<string>24677f46b598aed5cde6f05553f1da7d425ff38e85426f9bd47da8d829a9d5e0</string>
	<key>WEBEX_TOTAL_JOIN_MEETING_COUNT</key>
	<integer>1</integer>
	<key>WEBEX_TOTAL_JOIN_MEETING_TIME</key>
	<real>2.6333334445953369</real>
</dict>
</plist>
