<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastCrash_AdobeReader_20.012.20041_20.012.20041</key>
	<string>-1</string>
	<key>lastCrash_AdobeReader_20.012.20043_20.012.20043</key>
	<string>-1</string>
</dict>
</plist>
