<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Label</key>
 <string>com.teamviewer.teamviewer</string>
 <key>LimitLoadToSessionType</key>
 <string>Aqua</string>
 <key>ProgramArguments</key>
 <array>
  <string>/Applications/TeamViewer.app/Contents/MacOS/TeamViewer</string>
  <string>-RunAsAgent</string>
  <string>YES</string>
 </array>
 <key>WorkingDirectory</key>
 <string>/Applications/TeamViewer.app/Contents/MacOS/</string>
 <key>RunAtLoad</key>
 <true/>
 <key>KeepAlive</key>
 <true/>
 <key>Disabled</key>
 <true/>
</dict>
</plist>
